* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, serif;
    color: black;
    background-image: url('numbers.jpeg');
  }

  main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    padding: 20px;
    border-style: solid;
    border-radius: 5px;
  }
  h1{
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(134, 151, 220);
    border-style: solid;
    border-radius: 5px;
  }

  form{
    text-align: center;
  }

  input{
    font-size: 20px;
    border-style: solid;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
  }

  button{
    font-size: 20px;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
  }

  button:hover{
    background-color: rgb(134, 151, 220);
  }

  .error-message, .success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(162, 174, 216);
    padding: 2rem;
    visibility: hidden;
    transition: 1s;
    border-style: solid;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
  }
  
  .visible {
    visibility: visible;
    opacity: 1;
  }

  footer {
    text-align: center;
  }

img:hover{
    background: #fff;
    opacity: 1;
    border-radius: 100%;
  }

  h4{
    margin: 10px 0;
  }